<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login to AutoTA</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <style>
        body {
            background-color: #f8f9fa;
        }

        .login-container {
            max-width: 400px;
            margin: auto;
            margin-top: 10%;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .login-container h1 {
            margin-bottom: 20px;
        }

        .submit input {
            width: 100%;
        }
    </style>
</head>
<body>

    <div class="login-container">
        {% csrf_token %}

        <h1>Login to AutoTa</h1>
        <form method="post" action="{% url 'login_view' %}">
            <div class="form-group">
                <input type="text" class="form-control" name="login" placeholder="UBIT">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group submit">
                <input type="submit" class="btn btn-primary" name="commit" value="Login">
            </div>
        </form>
    </div>

    <script type="text/javascript">
        var csrf_token = '{{ csrf_token }}';

        const requestOptions = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrf_token,  // Ensure csrf_token has the correct value
            },
            body: JSON.stringify({ message: message })
        };

        try {
            const response = await fetch('', requestOptions);
        } catch (error) {
            console.error('There has been a problem with your fetch operation:', error);
        }
    </script>

</body>
</html>
